fastapi
uvicorn
scikit-learn
pandas
numpy
openai
python-dotenv
sqlalchemy
google-api-python-client
google-auth
google-auth-oauthlib
google-auth-httplib2
psycopg2-binary==2.9.12
email-validator
python-multipart
requests
supabase==2.4.6
